*{
    padding: 12px;
    
}

.CSSButton{
    display: flex;
    justify-content: space-around;
}
.SubButton{
    background-color: rgb(214, 0, 0);
    color: white;
    border: none;
    height: 50px;
    width: 100px;
    border-radius: 5px;
    cursor: pointer;
}
/*hover enable when the cursor is on the element 
  active enable when the cursor is click on the element
*/
.SubButton:hover{
    opacity: 0.75;
}
.SubButton:active{
    background-color: blue;
}
/*note, from the very begining, browsers are text-based so by default, 
browsers allign item based on the text 

so we got : vertical-allign: top to allign item to the top
*/
.JoinButton{
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    border-color: rgb(46, 88, 253);
    color:rgb(46, 88, 253);
    font-weight: 700;
    background-color: white;
    transition: background-color 0.15s, color 0.15s;
}
.JoinButton:hover{
    background-color: rgb(46, 88, 253);
    color: white;
}
.JoinButton:active{
    opacity: 0.8;
}
.TweetButton{
    height: 50px;
    width: 100px;
    border-radius: 40px;
    cursor: pointer;
    border: none;
    background-color: rgb(24, 122, 243);
    font-size: 20px;
    color: white;
    font-weight: 700;
    transition: box-shadow 0.15s;
}
.TweetButton:hover{
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
}

.SignupButton{
    height: 45px;
    width: 120px;
    background-color: rgb(50, 154, 50);
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 17px;
    font-weight: 700;
    transition: box-shadow 0.15s;
}
.SignupButton:hover{
    box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
}
/*Excercise*/
.StretchButton{
    background-color: rgb(50, 154, 50);
    padding: 12px 20px 12px 20px;
    font-size: 15px;
    font-weight: 700;
    border-radius: 5px;
    border: none;
    color: white;
    transition: padding 0.5s;
    vertical-align: top;
}
.StretchButton:hover{
    padding: 20px 30px 20px 30px
}
.ShadowButton{
    border: none;
    color: white;
    background-color: rgb(50, 154, 50);
    padding: 12px 20px 12px 20px;
    font-size: 15px;
    font-weight: 700;
    box-shadow: 5px 5px 5px black;
}
.ShadowButton:active{
    box-shadow: none;
    margin: 5px 0 0 5px;
}
/*-----------------------------------------*/
.ExImage{
    display: flex;
    flex-direction: column;
}
.ex7a{
    width: 300px;
    border-radius: 30px;
}
.ex7b{
    height: 200px;
    width: 200px;
    object-fit: cover;
    object-position: center;
}
.ex7c{
    height: 300px;
    width: 300px;
    border-radius: 360px;
    object-fit: cover;
    object-position: center;
}

/* searchboxEX --------------------------*/
.searchboxEX{
    
    margin-top: 5px;
    align-items: flex-start;
    gap: 20px;
    display: inline-block;
    border-radius: 5px;
    box-shadow: 2px 2px 3px 3px rgba(0,0,0,0.3);
}
.searchIcon{
    width: 50px;
    height: 50px;
    border-radius: 360px;
    object-fit: cover;
    object-position: center;
    vertical-align: middle;
    padding: 0;
}
.search-bar{
    height: 50px;
    width: 300px;
    vertical-align: middle;
    padding: 0;
    border: none;
    font-size: 20px;
    border-radius: 30px;
    padding-left: 10px;
}
.search-bar::placeholder{
    font-weight: 700px;
    padding: 10px;
}
.search-button{
    height: 50px;
    width: 100px;
    border-radius: 40px;
    cursor: pointer;
    border: none;
    background-color: rgb(24, 122, 243);
    font-size: 20px;
    color: white;
    font-weight: 700;
    transition: box-shadow 0.15s;
    
}
.search-button:hover{
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
}

/*---------------------------------------------*/
.NameBox, .EmailBox{
    display: block;
    margin-top: 10px;
    width: 300px;
    height: 10px;
}
.ex8b{
    display: flex;
    align-items: center;
}
.survey-invite{
    display: inline-block;
    width: 300px;
    padding: 0;
}
.yes-button, .no-button{
    width: 50px;
    height: 30px;
    padding: 0;
    
}
.ex8c{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gg-logo{
    width: 500px;
}
.gg-search{
    width: 700px;
    border-radius: 30px;
    border: none;
    box-shadow:  3px 3px 5px 0 rgba(0,0,0,0.3);
}

/*----------------------------------------------------*/
.square-div{
    height: 30px;
    width: 30px;
    background-color: red;
    display: inline-block;
}
.circle-div{
    height: 30px;
    width: 30px;
    background-color: green;
    display: inline-block; 
    border-radius: 360px;
}
.service-satify{
    border-width: 1px;
    border-style: solid;
    width: 300px;
    border-radius: 10px;
    border-color: rgba(128,128,128,0.3);
}
.youtube-music{
    background-color: rgb(31, 26, 26);
    width: 500px;
    color: white;
    font-family: Arial;
    padding: 30px 20px 10px 20px;
}
.yt-firstline{
    font-size: 35px;
    font-weight: bold;
    padding:  0;
    margin-top: 0;
    margin-bottom: 20px;
}
.yt-secondline{
    font-size: 20px;
    color: rgb(147, 140, 140);
    padding: 0;
    margin-top: 0;
}
.reel-item{
    width: 250px;
    display: inline-block;
    font-family: Arial;
    padding: 0;
    border-radius: 3px;
    box-shadow: 1px 1px 2px 1px rgb(31, 26, 26, 0.5);
    margin-right: 15px;

}

.friend-img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    object-position: center;
    padding: 0;

}
.friend-name{
    padding: 0;
    margin: 0;
    font-size: 25px;
    font-weight: bold;
    
}
.friend-mutual{
    padding: 0;
    color: gray;
    margin: 0 0 15px 0;
    
}
.add-btn{
    color: white;
    font-weight: 300;
    background-color: rgb(38, 93, 212);
    border:none;
    border-radius: 5px;
    width: 120px;
    font-size: 15px;
}