.thumbnail{
    width: 300px;
    
}
.search-bar{
    width: 200px;
    font-size: 25px;
    margin-left: 20px; 
    border-radius: 15px;  
    border: none;
    box-shadow: 3px 5px 5px 0 rgba(0,0,0,0.1);
    padding-left: 15px;
}
/*
Display property (most important):
    1.block element: talk the entire line which contain the element
    2.inline-block element: only takes up as much space as needed (img , input, ...)
    3.inline element = appear within a line of text
*/ 









